<div class="row marketing">
	<h3>Beğenilen Mekanlar</h3>
  <% @likes.each do |like| %>
		<div class="col-md-6">
    	<h4><%= link_to like.venue_name, venue_path(like.venue) %></h4>
    	<p><%= like.venue_address %></p>
    </div>
	<% end %>
</div>

<div class="row marketing">
	<h3>Bulunulan Mekanlar</h3>
  <% @check_ins.each do |check_in| %>
		<div class="col-md-6">
    	<h4><%= link_to check_in.venue_name, venue_path(check_in.venue) %></h4>
    	<p><%= check_in.venue_address %></p>
    </div>
	<% end %>
</div>

<div class="row marketing">
	<h3>Takipçiler</h3>
  <% @followers.try(:each) do |user| %>
		<div class="col-md-6">
    	<h4><%= link_to user.name, user_path(user) %></h4>
    	<p><%= user.email %></p>
    </div>
	<% end %>
</div>

<div class="row marketing">
	<h3>Takip Edilenler</h3>
  <% @followings.try(:each) do |user| %>
		<div class="col-md-6">
    	<h4><%= link_to user.name, user_path(user) %></h4>
    	<p><%= user.email %></p>
    </div>
	<% end %>
</div>
