<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <% if current_user %>
        <li role="presentation"><%= link_to "Find Me!", offer_path, remote: true %></li>
        <li role="presentation"><a href="#"><%= current_user.name %></a></li>
        <li role="presentation"><a href="#"><img src="<%= current_user.image_url %>"></a></li>
        <li role="presentation"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <li role="presentation"><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
        <li role="presentation"><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %></li>
        <li role="presentation"><%= link_to "Sign in with Google+", user_omniauth_authorize_path(:google_oauth2) %></li>
      <% end %>
    </ul>
  </nav>
  <h3 class="text-muted">
    <%= link_to 'Railsquare', root_path %>
  </h3>
</div>
